{% extends "base.html.twig" %}

{% block body %}
    <h1 class="text-center">Profil</h1>
    <hr class="style13">
    <div class="form-group">
        <div class="col-md-6 col-md-offset-3 ">
            {% include "FOSUserBundle:Profile:show_content.html.twig" %}
        </div>
    </div>
{% endblock %}

