{#{% extends 'base.html.twig' %}#}

{% trans_default_domain 'FOSUserBundle' %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}
{# {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %} #}

{% block body %}

{{ form_start(form, {'method': 'POST', 'attr':{'class': 'register'}}) }}

{{ form_end(form) }}

<div align="center" class="button-wrap">
    <button class="btn-large btn-primary" type="submit" name="action">
        {{ 'registration.submit'|trans }}
    </button>
</div>

{% endblock %}