{% extends "base.html.twig" %}

{% block body %}
    <form>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-4 col-sm-offset-4">
                    <h1>Inscription</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 col-sm-offset-4">
                    {% include "FOSUserBundle:Registration:register_content.html.twig" %}
                </div>
            </div>
        </div>
    </form>
{% endblock body %}
