{% extends "base.html.twig" %}

{% block body %}
    <h1 class="text-center">Inscription</h1>
    <hr class="style13">
    <div class="form-group">
        <div class="col-md-7 col-md-offset-4 ">
            {% include "FOSUserBundle:Registration:register_content.html.twig" %}
        </div>
    </div>
{% endblock body %}
