html, body, .view {
    height: 100%;
    background-color: #FAFAFA;
}
.btn-theme {
    background: #2B689C;
}
a{
  text-decoration: none;
}
h1 {
    text-align: center;
    padding-top: 50px;
}
.center {
    text-align: center;
}

/* Navbar */

.navbar {
    background-color: transparent;
    border-radius: 0;

}
.scrolling-navbar {
    -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
    transition: background .5s ease-in-out, padding .5s ease-in-out;
}
.top-nav-collapse {
    background-color: #1C2331;
}
@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #1C2331;
    }
}
.nav {
    float: right;
}

 .view .full-bg-img {
   width: 100%;
    margin-bottom: 1.5rem;
    background: url("/image/share.jpg") no-repeat center center fixed ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: 0.9;

}

.view ul {
  font-weight: bold;
    color:white;
}
.view ul li h1 {
  font-weight: bold;
  font-size: 56px;

}

.info{
  font-size: 14px;
}
.bouton-info{


  border-radius: 50%;
}
/*Padding*/
.pb50{
  padding-top: 50px;
}
.pt50{
  padding-top: 50px;
}
.pt100 {
    padding-top: 100px;
}
.pb100{
  padding-bottom: 100px;
}
.pb200{
  padding-bottom: 200px;
}

/*Scroll Arrow*/

/* the important styles */

.arrow-wrap {
  position:absolute;
  z-index:1;
  left:50%;
  bottom: 10px;
  margin-left:-5em;
  background:#0769AD ;
  width:10em;
  height:10em;
  padding:4em 2em;
  border-radius:50%;
  font-size:0.2em;
  display:block;
  box-shadow:0px 0px 5px 0px #333;
}

.arrow {
  float:left;
  position:relative;
  width: 0px;
height: 0px;
border-style: solid;
border-width: 3em 3em 0 3em;
border-color: white transparent transparent transparent;
  -webkit-transform:rotate(360deg)
}

.arrow:after {
  content:'';
  position:absolute;
  top:-3.2em;
  left:-3em;
  width: 0px;
height: 0px;
border-style: solid;
border-width: 3em 3em 0 3em;
border-color: #0769AD transparent transparent transparent;
  -webkit-transform:rotate(360deg)
}


.hint {
  position:absolute;
  top:0.6em;
  width:100%;
  left:0;
  font-size:2em;
  font-style:italic;
  text-align:center;
  color:#fff;
  opacity:0;
}


.arrow-wrap:hover .hint {
  opacity:1;
}


  @-webkit-keyframes arrows {
    0% { top:0; }
    10% { top:12%; }
    20% { top:0; }
    30% { top:12%; }
    40% { top:-12%; }
    50% { top:12%; }
    60% { top:0; }
    70% { top:12%; }
    80% { top:-12%; }
    90% { top:12%; }
    100% { top:0; }
  }

  .arrow-wrap .arrow {
    -webkit-animation: arrows 2.8s 0.4s;
    -webkit-animation-delay: 3s;
  }






/*hr*/
hr.style8 {
	border-top: 1px solid #8c8b8b;
	border-bottom: 1px solid #fff;
  margin: 0;
}
hr.style8:after {
	content: '';
	display: block;
	margin-top: 2px;
	border-top: 1px solid #8c8b8b;
	border-bottom: 1px solid #fff;
}


hr.style13 {
    height: 10px;
    border: 0;
    box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

/*Particulier-space*/

.particulier-space .card-block{
  min-height: 268px;
}

/*form*/

.login-p-t {
    padding-top: 100px;
}
.button {
    text-align: center;
}

/* footer */

.footer-copyright {
    color: rgba(255, 255, 255, .8);
    background-color: #141922;
    text-align: center;
    overflow: hidden;
    height: 49px;
    line-height: 50px;
}



/*Donations list*/

.media-list{
  border: 1px solid #ccc;
  border-bottom: 0;
  margin-bottom: 0;
  padding: 40px;
}

.media-list:hover{
  background-color: #F2F2F2;
}

[class~='media-list']:last-child {
  border-bottom: 1px solid #ccc;
}
.media-body{
  position: relative;
}
.media-heading{
  font-size: 1.3em;
  font-family: "OpenSansSemiBold",sans-serif;
  color:#369;
}
.item-absolute {
    position: absolute;
    bottom: 0;
    right: 0;
}
.item-absolute-top {
    position: absolute;
    top: 0;
    right: 0;
}

.item-date{
  font-size: 12px;
}

.media-object{
  max-height: 100px;
  max-width: 90px;
  min-width: 80px;
  min-height: 90px;
  margin-right: 15px;
}
