{% extends "::base.html.twig" %}

{% block body %}
    <div class="col-md-6 col-md-offset-3">
        {% if success %}
            <div class="alert alert-success text-center" role="alert">
            Votre don a été validé avec succès.
            Un e-mail contenant vos coordonnés vient d'etre envoyé à l'association.
        </div> 
    {% else %}
        <div class="alert alert-warning text-center" role="alert">
            Erreur: Validation du don impossible.
        </div> 
    {% endif %}     
    </div>
{% endblock %}
